@import "../../../scss/_variables.module.scss";

.small-card {
  max-width: 150px;
  padding: 20px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  background: var(--third-background-color);
  border-radius: 20px;
  cursor: pointer;

}

.small-card-active {
  background: $--card-bg-color;
  color: $--white-color;

}

.small-card-icon {
  width: 70px;
  height: 60px;
}

.small-card-day,
.small-card-degree {
  font-size: 18px;
  font-weight: 500;
}
