.main-page {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.small-cards-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
}