@import "../../scss/variables.module";
.main-page {
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  background: var(--main-background-color);
  color: var(--text-primary);
}

.main-wrapper {
  display: flex;
}

@media screen and (max-width: $--breakpoint-small) {
  .main-wrapper {
    flex-direction: column;
  }
}
