@import '../../scss/variables.module';
.main-page {

    height: 100dvh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--main-background-color);
    color: var(--text-primary);
}