@import "../../scss/variables.module.scss";

.search-form {
  position: relative;
}

.search-icon {
  position: absolute;
  top: 25%;
  left: 10px;
  display: inline-block;
  width: 25px;
  height: 25px;
  cursor: pointer;
}
.search-input {
  padding: 15px 8px;
  padding-left: 50px;
  outline: none;
  border-radius: 15px;
  border: none;
  background: var(--sec-background-color);
  font-size: 20px;
  font-style: italic;
  color: var(--text-secondary);
  text-transform: capitalize;
  &::placeholder {
    font-size: 18px;
    font-style: italic;
    color: var(--text-secondary);
  }
}
@media screen and (max-width: $--breakpoint-small) {
  .search-form {
    align-self: center;
  }
}
