@import "../../scss/variables.module.scss";

.search-form {
  position: relative;
}

.icon {
  position: absolute;
  top: 17px;
  left: 10px;
  display: inline-block;
  width: 16px;
  height: 16px;

  background-image: url("../../assets/icons/magnifying-glass.svg");
  background-size: 16px 16px;
  background-repeat: no-repeat;
  background-position: right center;

  cursor: pointer;
}
.search-input {
  width: 100%;
  padding: 15px 8px;
  padding-left: 35px;
  outline: none;
  border-radius: 15px;
  border: none;
  background: $--main-background-color;
  font-size: 18px;
  font-style: italic;
  color: $--blue-color;
  text-transform: capitalize;
  &::placeholder {
    font-size: 18px;
    font-style: italic;
    color: $--blue-color;

  }
}
