@import "../../scss/variables.module";

.aside-widget {
  max-width: 450px;
  width: 100%;
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  background: var(--aside-widget-bg-color);
}

@media screen and (max-width: $--breakpoint-large) {
  .aside-widget {
    margin-right: 50px;
    padding: 30px;
    gap: 18px;
  }
}
@media screen and (max-width: $--breakpoint-medium) {
  .aside-widget {
    justify-content: center;
    gap: 22px;
  }
}
@media screen and (max-width: $--breakpoint-small) {
  .aside-widget {
    order: -1;
    margin-right: 0;
    max-width: 500px;
  }
}
