$--main-background-color: #f0f5ff;
$--pink-color: #ff6ea3;
$--orange-color: #ffb765;
$--light-orange-color: #fff8f0;
$--blue-color: #6a9bff;
$--light-blue-color: #99bafe;
$--green-color: #08d75c;
$--light-green-color: #f0fff6;
$--black-color: #000000;
$--white-color: #ffffff;
$--light-grey-color: #cbcee0;


:export {
    main-background-color: $--main-background-color;
}