@import "../../scss/variables.module";

.detailed-forecast-page {
  min-height: 100%;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  background: var(--main-background-color);
}

@media screen and (max-width: $--breakpoint-medium-large) {
  .detailed-forecast-page {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
}
@media screen and (max-width: $--breakpoint-small) {
  .detailed-forecast-page {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: $--breakpoint-extra-small) {
  .detailed-forecast-page {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}
