@import "../../scss/variables.module";

.time-info {
  font-size: 44px;
  font-weight: 700;
  color: $--blue-color;
}

.date-info {
  margin-top: 10px;
  font-size: 18px;
  font-weight: 600;
}

@media screen and (max-width: $--breakpoint-extra-small) {
  .time-info {
    font-size: 34px;
  }
  .date-info {
    font-size: 16px;
  }
}
