@import "../../scss/_variables.module";

.air-quality {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 20px;
  background-color: var(--third-background-color);
  border-radius: 20px;
}

.title-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  font-size: 20px;
  font-weight: 500;
}

.city-name {
  font-size: 18px;
  color: $--light-grey-color;
}

.air-quality-status {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.status-box {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.status {
  font-size: 22px;
  font-weight: 600;
}

.comment {
  font-size: 18px;
  color: $--light-grey-color;
}

.refresh-btn {
  padding: 10px 15px;
  font-weight: 600;
  color: var(--text-secondary);
  background-color: var(--air-qual-button-bg-color);
  border-radius: 10px;
  cursor: pointer;
}

.components-box {
  display: flex;
  gap: 10px;
}

.component {
  width: 60px;
  padding: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  border-radius: 10px;
}

.component-quantity {
  font-size: 20px;
  font-weight: 500;
  color: $--white-color;
}

.component-name {
  font-size: 16px;
  font-weight: 600;
  color: $--white-color;
  text-transform: uppercase;
}

@media screen and (max-width: $--breakpoint-large) {
  .air-quality {
    max-width: 500px;
    padding: 15px;
  }

  .component {
    padding: 5px;
  }
}
@media screen and (max-width: $--breakpoint-medium) {
  .air-quality {
    max-width: 255px;
  }
  .components-box {
    flex-wrap: wrap;
  }
}
