@import "../../scss/variables.module";

.regular-weather-card {
  max-width: 400px;
  padding: 20px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  background: rgb(0, 212, 255);
  background: linear-gradient(
    90deg,
    rgba(0, 212, 255, 1) 0%,
    rgba(106, 156, 255, 1) 100%
  );
  color: $--white-color;
  border-radius: 20px;
}



.regular-icon {
  width: 150px;
}

.regular-city-name {
  align-self: flex-start;
  font-size: 24px;
}

.regular-day-name {
  font-size: 24px;
}

.regular-date {
  font-size: 20px;
}

.regular-degrees {
  font-size: 52px;
  font-weight: 900;
}

.regular-weather-condition-box {
  display: flex;
  flex-direction: column;
  gap: 12px;
  text-align: center;
}

.regular-weather-condition {
  font-size: 20px;
  font-weight: 500;
}

.regular-wind-status-box {
  display: flex;
  gap: 30px;
}

.regular-wind-status {
  position: relative;
  font-weight: 500;
  &::before {
    content: "";
    position: absolute;
    top: -1px;
    left: -40px;
    display: block;
    width: 30px;
    height: 20px;
    background-image: url("../../assets/icons/wind-icon.svg");
  }
}

.regular-wind-status-wind-speed {
  position: relative;
  &::before {
    content: "";
    position: absolute;
    left: -15px;
    display: block;
    width: 1px;
    height: 100%;
    background-color: $--white-color;
  }
}

.regular-humidity-status-box {
  display: flex;
  gap: 30px;

}
.regular-humidity-status {
  position: relative;
  font-weight: 500;
  &::before {
    content: "";
    position: absolute;
    top: -1px;
    left: -30px;
    display: block;
    width: 30px;
    height: 20px;
    background-image: url("../../assets/icons/drop-icon.svg");
    background-repeat: no-repeat;
  }
}

.regular-humidity-status-percent {
  position: relative;
  &::before {
    content: "";
    position: absolute;
    left: -15px;
    display: block;
    width: 1px;
    height: 100%;
    background-color: $--white-color;
  }
}
